
.avatar {
  object-fit: cover; /* Ensures the image covers the container without stretching */
  width: 250px !important;
  height: 250px !important;
  border-radius: 50%;
}

.avatar-wrapper {
  margin-top: 10px; /* reduces space between the avatar and */
  margin-bottom: 20px; /* Adds space between the avatar and title */
}

.portrait-title {
  margin-top: 20px; /* Adds space above the title */
  text-align: center; /* Centers the title */
  font-size: 24px; /* Adjusts the font size */
}


.reveal section h1,
.reveal section h2,
.reveal section h3 {
  color: rgb(128, 13, 0);
}

.reveal li {
  font-size: 0.5em;

}

.reveal p {
  font-size: 0.5em;
  text-align: left;
}