.biography-wrapper {
  margin-top: 1px;  /* Reduces the space above the biography section */
  margin-bottom: 1px; /* Reduces the space below the biography section */
}
.avatar {
  object-fit: cover; /* Ensures the image covers the container without stretching */
  width: 4900px !important;
  height: 4900px !important;
  border-radius: 50%;
}
.section{
  margin-bottom: 1px; /* Adjust the value to reduce vertical spacing */
  padding-bottom: 1px;
}
.avatar-wrapper {
  display: flex;
  margin-top: 5px; /* reduces space between the and */
  margin-bottom: 10px; /* Adds space between the avatar and title */
  justify-content: center; 
}
.image-wrapper {
  text-align: center; /* Centers the image */
  margin-bottom: 5px; /* Adds space between the image and the title */
  border-radius: 10px;
  margin-top: 5px;
}
.custom-image {
  width: 250px; /* Adjust the size */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Optional: Add rounded corners */
}
.portrait-title {
  margin-top: 38px; /* Adds space above the title */
  text-align: center; /* Centers the title */
  font-size: 20px; /* Adjusts the font size */
  margin-bottom: 1px; 
}
.network-icon a {
  margin-top: 1px;
  color: #3498db; /* Change icon color */
  font-size: 10em; /* Increase the size of social media icons */
}

.stats-wrapper {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap if there's not enough space */
  justify-content: space-between; /* Distributes the items evenly */
}

.stat-label {
  font-size: 1em; /* Adjust this value to increase or decrease font size */
  font-weight: 100;  /* Optional: Makes the label bold */
}

p {
  margin-top: 0px;
  margin-bottom: 0px; /* Reduces space between paragraphs */
  font-size: 1.1em;
  /* text-align: left;*/
  }

li {
    font-size: 1.1em;
  }
  
h1, h2, h3 {
  margin-bottom: 5px; /* Reduces space below headings */
}

/*h1 { /* Or replace h1 with the correct tag */
 /* font-size: 24px; /* Set the desired font size */
/*}
*/

.content {
  margin-top: 5px; /* reduce the top margin if necessary */
}