
.avatar {
  object-fit: cover; /* Ensures the image covers the container without stretching */
  width: 250px !important;
  height: 250px !important;
  border-radius: 50%;
}

.reveal section h1,
.reveal section h2,
.reveal section h3 {
  color: rgb(128, 13, 0);
}

.reveal li {
  font-size: 0.5em;

}

.reveal p {
  font-size: 0.5em;
  text-align: left;
}